<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="background-color:aliceblue;text-align:center;">update</h1>
<form method="POST">
    {% csrf_token %}
    <label for="name">name:</label><br>
    <input type="text" id="name" name="book_name" value="{{data.book_name}}"><br>
    <label for="name">Author</label><br>
    <input type="text" id="name" name="author" value="{{data.author}}"><br>
    <label for="name">price</label><br>
    <input type="text" id = "name" name="price" value="{{data.price}}"><br>
    <label for="name">image</label><br>
    <input type="text" id = "name" name="image" value="{{data.image}}"><br>
    <input type="submit" value="Submit">
<br>
<a href='/about/'><br>GO BACK</a></br
</form>
</body>
</html>